@using Microsoft.AspNetCore.Authentication;
@using bunqAggregation.Models;
@model CurrentAccountsModel
@{
    ViewData["Title"] = "Manage";
    int accountCount = Convert.ToInt32(ViewData["accountCount"]);
}
<h2>@ViewData["Title"]</h2>

<h3>Current Accounts (@accountCount)</h3>
<table class="table table-striped">
  <tr>
    <th>Description</th>
    <th>IBAN</th>
    <th>Accessrights</th>
    <th>Delete</th>
  </tr>

@foreach(var currentAccount in Model.CurrentAccounts)
{
    <tr>
    <td>@currentAccount.Description</td><td>@currentAccount.IBAN</td><td>@currentAccount.AccessRights</td><td>@currentAccount.Id</td>
    </tr>
}
</table>
<div>
    <a asp-action="AddCurrentAccount">Add Current Account</a>
</div>